<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      <span (click)="navRootPage()" style="cursor: pointer;" class="ion-padding">Swapiku</span>
      <span (click)="navFilms()" style="cursor: pointer;" class="ion-padding">Films</span>
      <span (click)="navRootPage()" style="cursor: pointer;" class="ion-padding">People</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="12" size-md="4" size-lg="3" *ngFor="let MOVIE of LIST_OF_MOVIE">
      <ion-card>
        <ion-card>
          <ion-item>
            <ion-card-title>{{MOVIE.title}}</ion-card-title>
            <ion-button fill="outline" slot="end">See More</ion-button>
          </ion-item>
        </ion-card>
        <ion-card-content>
          {{MOVIE.opening_crawl}}
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>


</ion-content>